<div class="containerModal">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cadastro de prato</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Prato</label>
            <input type="text" class="form-control" placeholder="file...">
            <small id="emailHelp" class="form-text text-muted">Ensira o nome do prato.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Preço</label>
            <input type="number" class="form-control" placeholder="0">
            <small id="emailHelp" class="form-text text-muted">Valor do prato.</small>
          </div>
          <div class="containerButton">

            <button type="button" class="btn btn-secondary">Cancelar</button>
            <button type="submit" class="btn btn-primary">Cadastrar</button>

          </div>
        </form>


      </div>

    </div>
  </div>
</div>
