<div class="containerModal">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cadastro de prato</h5>

      </div>
      <div class="modal-body">


        <form [formGroup]="formulario">
          <div class="form-group">
            <label for="exampleInputEmail1">Prato</label>

            <input type="text" class="form-control" placeholder="file..." formControlName="name">

            <small id="emailHelp" class="form-text text-muted">Ensira o nome do prato.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Preço</label>

            <input type="number" class="form-control" placeholder="0" formControlName="preco">

            <small id="emailHelp" class="form-text text-muted" >Valor do prato.</small>
          </div>
          <div class="containerButton">

            <button type="button" class="btn btn-secondary" (click)="Cancelar()">Cancelar</button>
            <button type="submit" class="btn btn-primary" (click)="cadastrar()">Cadastrar</button>

          </div>
        </form>


      </div>

    </div>
  </div>
</div>
