<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">

    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" routerLink="/" role="tab"
      aria-controls="nav-home" aria-selected="true">Home</a>

    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" routerLink="/mesas" role="tab"
      aria-controls="nav-profile" aria-selected="false">Mesas</a>

      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" routerLink="/pedidos" role="tab"
        aria-controls="nav-contact" aria-selected="false">Pedidos</a>

    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" routerLink="/pratos" role="tab"
      aria-controls="nav-contact" aria-selected="false">Pratos</a>


  </div>
</nav>
