<div class="card animeLeft">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Pedido</th>
          <th scope="col">Mesa</th>
          <th scope="col">Status</th>
          <th scope="col">Detalhes</th>
          <th scope="col">Total</th>
          <th scope="col">Opções</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos">
          <th>{{pedido.id}}</th>
          <td scope="row">Mesa: {{pedido.mesa}}</td>
          <td>{{pedido.status}}</td>

          <td>
            <ul *ngFor="let prato of pedido.prato">
              <li>
                {{prato.nome}}
              </li>
            </ul>

          </td>
          <td>
            <ul *ngFor="let prato of pedido.prato">
              <li>
                {{prato.preco | currency:'BRL'}}
              </li>
            </ul>
          </td>

          <td>
            <span style="display: flex; justify-content: space-around;">

              <button type="button" class="btn btn-outline-dark" (click)="statusPedidoCancelado(pedido.id)"><img
                  src="../../../assets/svg/x.svg" /></button>

              <button type="button" class="btn btn-outline-dark" (click)="statusPedidoConcluido(pedido.id)"><img
                  src="../../../assets/svg/check.svg" /></button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
